In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Import a scoring metric to compare methods
from sklearn.metrics import r2_score
%matplotlib inline

In [2]:
df = pd.read_excel('merged.xlsx')

In [21]:
df = pd.DataFrame()

In [48]:
av16 = pd.read_csv('AV_2016_new.csv')

In [49]:
av17 = pd.read_csv('av_2017_new.csv')

In [50]:
av18 = pd.read_csv('AV_2018.csv')

In [3]:
df.head()

            To Date   PM2.5    PM10    CO     NO2     NH3    SO2
0  01-01-2016 01:00  389.33  946.17  2.91  105.57  118.86  16.83
1  01-01-2016 02:00     376    1117  4.13   89.07  122.08  16.42
2  01-01-2016 03:00   480.5    1087   3.3   91.96  132.15  16.38
3  01-01-2016 04:00  486.67  918.17  1.93   79.14  142.15  12.93
4  01-01-2016 05:00  441.17     824  2.64   91.57  176.31  14.25

In [51]:
av18.head()

       From Date PM2.5  PM10    CO     NH3     NO2    SO2
0  1/1/2018 0:00   754  1086  7.77  152.26  127.13  20.02
1  1/1/2018 1:00   754  1086  7.98  156.33   87.39   14.6
2  1/1/2018 2:00   868  1086  7.09  160.83   69.39  14.25
3  1/1/2018 3:00   854  1083  2.43  146.71    48.4   10.3
4  1/1/2018 4:00   713   917  1.62  135.83    46.4  10.13

In [19]:
#av16['Date'] = pd.to_datetime(av16['From Date'], format = '%d-%m-%Y %H:%M')

In [52]:
av18['Date'] = pd.to_datetime(av18['From Date'], format = '%d/%m/%Y %H:%M')

In [9]:
av17['Date'] = pd.to_datetime(av17['Date'], format = '%Y-%m-%d %H:%M')

In [38]:
av18['Date'] = pd.to_datetime(av18['From Date'], format = '%d/%m/%Y %H:%M')

In [11]:
av16.head()

,From Date,PM2.5,PM10,CO,NH3,NO2,SO2,Date
0,1/1/2016 0:00,389.33,946.17,2.91,118.86,105.57,16.83,2016-01-01 00:00:00
1,1/1/2016 1:00,376,1117,4.13,122.08,89.07,16.42,2016-01-01 01:00:00
2,1/1/2016 2:00,480.5,1087,3.3,132.15,91.96,16.38,2016-01-01 02:00:00
3,1/1/2016 3:00,486.67,918.17,1.93,142.15,79.14,12.93,2016-01-01 03:00:00
4,1/1/2016 4:00,441.17,824,2.64,176.31,91.57,14.25,2016-01-01 04:00:00

In [39]:
av18.head()

       From Date PM2.5  PM10    CO     NH3     NO2    SO2                Date
0  1/1/2018 0:00   754  1086  7.77  152.26  127.13  20.02 2018-01-01 00:00:00
1  1/1/2018 1:00   754  1086  7.98  156.33   87.39   14.6 2018-01-01 01:00:00
2  1/1/2018 2:00   868  1086  7.09  160.83   69.39  14.25 2018-01-01 02:00:00
3  1/1/2018 3:00   854  1083  2.43  146.71    48.4   10.3 2018-01-01 03:00:00
4  1/1/2018 4:00   713   917  1.62  135.83    46.4  10.13 2018-01-01 04:00:00

In [82]:
av16.drop('From Date', axis=1, inplace= True)

In [16]:
av17.drop('From Date', axis=1, inplace= True)

KeyError: "labels ['From Date'] not contained in axis"

In [53]:
av18.drop('From Date', axis=1, inplace= True)

In [10]:
av16.set_index('Date', inplace=True)

In [11]:
av17.set_index('Date', inplace=True)

In [54]:
av18.set_index('Date', inplace=True)

In [56]:
av18.head()

                    PM2.5  PM10    CO     NH3     NO2    SO2
Date
2018-01-01 00:00:00   754  1086  7.77  152.26  127.13  20.02
2018-01-01 01:00:00   754  1086  7.98  156.33   87.39   14.6
2018-01-01 02:00:00   868  1086  7.09  160.83   69.39  14.25
2018-01-01 03:00:00   854  1083  2.43  146.71    48.4   10.3
2018-01-01 04:00:00   713   917  1.62  135.83    46.4  10.13

In [57]:
av18.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2018-01-01 00:00:00 to 2018-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    8760 non-null object
PM10     8760 non-null object
CO       8760 non-null object
NH3      8760 non-null object
NO2      8760 non-null object
SO2      8760 non-null object
dtypes: object(6)
memory usage: 479.1+ KB

In [80]:
df.replace('None', np.nan, inplace=True)

In [39]:
av16.replace('None', np.nan, inplace=True)
av17.replace('None', np.nan, inplace=True)
av18.replace('None', np.nan, inplace=True)

In [14]:
import impyute as impy

In [15]:
pm = av18[['NO2','CO','PM2.5','NH3', 'SO2']]

In [31]:
pm = df[['CO', 'PM2.5']]

In [16]:
# reshape 1D array
from numpy import array
from numpy import reshape

In [17]:
# define array
data = array(pm)
print(data.shape)

(8760, 5)

In [18]:
pm = impy.mice(data)

In [19]:
pm

array([[127.13,   7.77, 754.  , 152.26,  20.02],
       [ 87.39,   7.98, 754.  , 156.33,  14.6 ],
       [ 69.39,   7.09, 800.  , 160.83,  14.25],
       ...,
       [167.52,   6.17, 414.  ,  87.3 ,  20.27],
       [217.38,   6.45, 482.5 ,  98.  ,  25.47],
       [183.03,   8.5 , 543.  ,  94.23,  18.77]])

In [29]:
av18['no2_op'] = ''

In [30]:
av18['co_op'] = ''

In [31]:
av18['pm2.5_op'] = ''

In [32]:
av18['nh3_op'] = ''

In [34]:
av18['so2_op'] = ''

In [35]:
av18[['no2_op', 'co_op', 'pm2.5_op','nh3_op', 'so2_op']] = pm

In [38]:
df.head()

,PM2.5,PM10,CO,NO2,NH3,SO2,test1,test2,test3,co_op,pm2.5_op
Date,,,,,,,,,,,
2016-01-01 01:00:00,389.33,946.17,2.91,105.57,118.86,16.83,NaN,NaN,NaN,2.91,389.33
2016-01-01 02:00:00,376.00,1117.00,4.13,89.07,122.08,16.42,NaN,NaN,NaN,4.13,376.00
2016-01-01 03:00:00,480.50,1087.00,3.30,91.96,132.15,16.38,NaN,NaN,NaN,3.30,480.50
2016-01-01 04:00:00,486.67,918.17,1.93,79.14,142.15,12.93,NaN,NaN,NaN,1.93,486.67
2016-01-01 05:00:00,441.17,824.00,2.64,91.57,176.31,14.25,NaN,NaN,NaN,2.64,441.17

In [42]:
av18.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2018-01-01 00:00:00 to 2018-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    8760 non-null object
PM10     8760 non-null object
CO       8760 non-null object
NH3      8760 non-null object
NO2      8760 non-null object
SO2      8760 non-null object
dtypes: object(6)
memory usage: 479.1+ KB

In [43]:
av16 = av16.astype(float)

ValueError: could not convert string to float: '31/12/2016 23:00'

In [28]:
for i in range(0,len(av18)):
    if av18['PM2.5'][i] > 800:
        av18['PM2.5'][i] = 800

In [32]:
for i in range(0,len(av18)):
    if av17['CO'][i] < 0.1 :
        av17['CO'][i] = 0.1

TypeError: '<' not supported between instances of 'str' and 'float'

In [30]:
for i in range(0,len(av18)):
    if av18['CO'][i] > 15:
        av18['CO'][i] = 15

In [16]:
len(df)

26304

In [17]:
df['PM2.5'][1]

376.0

In [49]:
df[df.index == '2018-11-08 00:00']

            PM2.5    PM10    CO     NO2  NH3    SO2  test1  test2  test3
Date
2018-11-08  800.0  1000.0  7.88  163.85  5.4  31.52    NaN    NaN    NaN

In [18]:
data

array([[389.33],
       [376.  ],
       [480.5 ],
       ...,
       [414.  ],
       [482.5 ],
       [543.  ]])

In [ ]:
for i in range(0,len(df)):
    if df['PM2.5'] = np.nan:
        df['PM2.5'][i] = 800

In [53]:
df.index.year = '2016'

AttributeError: can't set attribute

# Imputing other year values inplace of missing

In [36]:
av18.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2018-01-01 00:00:00 to 2018-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    8603 non-null float64
PM10     6964 non-null float64
CO       6878 non-null float64
NH3      6597 non-null float64
NO2      6678 non-null float64
SO2      6930 non-null float64
dtypes: float64(6)
memory usage: 799.1 KB

In [2]:
x = range(1,100)

In [3]:
x

range(1, 100)

In [134]:
len(av18.index)

8760

In [91]:
av16['PM2.5'] = av16['PM2.5'].astype(float)

In [45]:
for i in range(0,len(av18.index)):
    if av18['PM2.5'][i] == 'None':
        av18['PM2.5'][i] = av17['PM2.5'][i]

In [44]:
for i in range(0,len(av16.index)):
    if av18['CO'][i] == 'None':
        av18['CO'][i] = av17['CO'][i]

In [42]:
for i in range(0,len(av16)):
    if av16['PM2.5'][i] < 0.1:
        av16['PM2.5'][i] = 0.1

In [107]:
av17[av17.index == '2017-01-20 20:00']

                     PM2.5  PM10    CO   NH3   NO2   SO2
Date
2017-01-20 20:00:00  288.5  None  None  None  None  None

In [104]:
np.nan

nan

In [19]:
av17.to_csv('av17_new.csv')

In [78]:
av16.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2016-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    7130 non-null float64
PM10     7024 non-null object
CO       6916 non-null object
NH3      6873 non-null object
NO2      6886 non-null object
SO2      6817 non-null object
dtypes: float64(1), object(5)
memory usage: 799.1+ KB

In [22]:
av18.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2018-01-01 00:00:00 to 2018-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    7101 non-null object
PM10     6964 non-null object
CO       6878 non-null object
NH3      6597 non-null object
NO2      6678 non-null object
SO2      6930 non-null object
dtypes: object(6)
memory usage: 479.1+ KB

# Further imputing remaining values with Interpolate method

In [18]:
av17 = pd.read_csv('av17_new.csv')

In [6]:
av17.head()

                  Date   PM2.5    PM10    CO     NH3    NO2    SO2
0  2017-01-01 00:00:00     162     227  1.93  101.19  84.29  21.52
1  2017-01-01 01:00:00  165.17  226.17  2.16  124.92  83.79  21.76
2  2017-01-01 02:00:00  176.67  215.33  1.96  119.38  76.69  21.82
3  2017-01-01 03:00:00  150.67   177.5  1.74   111.6  77.01   21.7
4  2017-01-01 04:00:00   129.5   174.5  2.31   73.84  63.65  22.54

In [70]:
av17.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2017-01-01 00:00:00 to 2017-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    8308 non-null object
PM10     4638 non-null object
CO       4917 non-null object
NH3      4494 non-null object
NO2      4698 non-null object
SO2      5132 non-null object
dtypes: object(6)
memory usage: 799.1+ KB

In [22]:
av17.replace('None', np.nan, inplace=True)

In [63]:
av16_ra = av16.assign(RollingMedian=av16['PM2.5'].fillna(av16['PM2.5'].rolling(12,min_periods=1,).median()))

In [96]:
av18.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2018-01-01 00:00:00 to 2018-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    8603 non-null float64
PM10     6964 non-null object
CO       6878 non-null object
NH3      6597 non-null object
NO2      6678 non-null object
SO2      6930 non-null object
dtypes: float64(1), object(5)
memory usage: 799.1+ KB

In [38]:
av17_ra = av17_ra.assign(CleanPM=av17_ra['RollingMedian'].fillna(method = 'ffill'))

In [46]:
av18.to_csv('AV_2018_new.csv')