In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Import a scoring metric to compare methods
from sklearn.metrics import r2_score
%matplotlib inline

In [45]:
df = pd.read_csv('Merged_Mice.csv')

In [11]:
av19 = pd.read_csv('AV_2019.csv')

In [3]:
av17 = pd.read_csv('AV_2017_new.csv')

In [4]:
av18 = pd.read_csv('AV_2018.csv')

In [51]:
df.head()

                 Date   PM2.5     PM10    CO     NH3     NO2    SO2
0 2016-01-01 00:00:00  389.33   946.17  2.91  118.86  105.57  16.83
1 2016-01-01 01:00:00  376.00  1117.00  4.13  122.08   89.07  16.42
2 2016-01-01 02:00:00  480.50  1087.00  3.30  132.15   91.96  16.38
3 2016-01-01 03:00:00  486.67   918.17  1.93  142.15   79.14  12.93
4 2016-01-01 04:00:00  441.17   824.00  2.64  176.31   91.57  14.25

In [52]:
av19.head()

                      PM2.5    PM10    CO     NH3     NO2    SO2
Date
2019-01-01 00:00:00  517.25  950.00  4.25  111.17  151.10  12.80
2019-01-01 01:00:00  531.25  939.00  1.55  112.02  120.45  13.87
2019-01-01 02:00:00  542.00  797.25  1.00   67.65  111.20  11.40
2019-01-01 03:00:00  547.50  526.25  1.32   86.73  104.27   8.00
2019-01-01 04:00:00  497.00  776.25  1.25   86.23  107.12   6.75

In [87]:
av18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 7 columns):
From Date    8760 non-null object
PM2.5        8760 non-null object
PM10         8760 non-null object
CO           8760 non-null object
NH3          8760 non-null object
NO2          8760 non-null object
SO2          8760 non-null object
dtypes: object(7)
memory usage: 479.1+ KB

In [13]:
av19['Date'] = pd.to_datetime(av19['From Date'], format = '%d/%m/%Y %H:%M')

In [50]:
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d %H:%M')

In [6]:
av18['Date'] = pd.to_datetime(av18['From Date'], format = '%d/%m/%Y %H:%M')

In [16]:
#av19.drop('From Date', axis=1, inplace= True)

In [92]:
df.drop('Date', axis=1, inplace= True)

In [7]:
av18.drop('From Date', axis=1, inplace= True)

In [55]:
df19 = df.append(av19)

In [59]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30624 entries, 2016-01-01 00:00:00 to 2019-06-30 23:00:00
Data columns (total 6 columns):
PM2.5    30624 non-null float64
PM10     22647 non-null float64
CO       30624 non-null float64
NH3      30624 non-null float64
NO2      30624 non-null float64
SO2      30624 non-null float64
dtypes: float64(6)
memory usage: 1.6 MB

In [60]:
df19.to_csv('AV_Final_19.csv')

In [53]:
df.set_index('Date', inplace = True)

In [44]:
av19.head()

                      PM2.5    PM10    CO     NH3     NO2    SO2
Date
2019-01-01 00:00:00  517.25  950.00  4.25  111.17  151.10  12.80
2019-01-01 01:00:00  531.25  939.00  1.55  112.02  120.45  13.87
2019-01-01 02:00:00  542.00  797.25  1.00   67.65  111.20  11.40
2019-01-01 03:00:00  547.50  526.25  1.32   86.73  104.27   8.00
2019-01-01 04:00:00  497.00  776.25  1.25   86.23  107.12   6.75

In [9]:
av16.set_index('Date', inplace=True)

In [10]:
av17.set_index('Date', inplace=True)

In [8]:
av18.set_index('Date', inplace=True)

In [38]:
import impyute as impy

In [39]:
pm = av19[['NO2','CO','PM2.5','NH3', 'SO2']]

In [40]:
# reshape 1D array
from numpy import array
from numpy import reshape

In [41]:
# define array
data = array(pm)
print(data.shape)

(4344, 5)

In [42]:
pm = impy.mice(data)

In [43]:
av19[['NO2','CO','PM2.5','NH3', 'SO2']] = pm

## Imputing from Other Year Values

In [101]:
for i in range(0,len(av17.index)):
    if av17['NH3'][i] == 'None':
        av17['NH3'][i] = av16['NH3'][i]

In [15]:
for i in range(0,len(av16.index)):
    if av18['NH3'][i] == 'None':
        av18['NH3'][i] = av17['NH3'][i]

In [111]:
for i in range(0,len(av16.index)):
    if av16['NH3'][i] == 'None':
        av16['NH3'][i] = av17['NH3'][i]

In [26]:
av19.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4344 entries, 2019-01-01 00:00:00 to 2019-06-30 23:00:00
Data columns (total 6 columns):
PM2.5    4235 non-null float64
PM10     4021 non-null float64
CO       3727 non-null float64
NH3      4077 non-null float64
NO2      4073 non-null float64
SO2      4256 non-null float64
dtypes: float64(6)
memory usage: 237.6 KB

In [23]:
av19.replace('None', np.nan, inplace=True)

In [16]:
av16.replace('None', np.nan, inplace=True)
av17.replace('None', np.nan, inplace=True)
av18.replace('None', np.nan, inplace=True)

In [24]:
av19 =av19.astype(float)

In [17]:
av16 = av16.astype(float)
av17 = av17.astype(float)
av18 = av18.astype(float)

## Outlier Reduction

In [27]:
for i in range(0,len(av19)):
    if av19['PM2.5'][i] > 800:
        av19['PM2.5'][i] = 800

In [28]:
for i in range(0,len(av19)):
    if av19['NH3'][i] > 250:
        av19['NH3'][i] = 250

In [30]:
for i in range(0,len(av19)):
    if av19['CO'][i] > 15:
        av19['CO'][i] = 15

In [31]:
for i in range(0,len(av19)):
    if av19['SO2'][i] > 200:
        av19['SO2'][i] = 200

In [32]:
for i in range(0,len(av19)):
    if av19['NO2'][i] > 400:
        av19['NO2'][i] = 400

In [ ]:
# Lower Limits

In [33]:
for i in range(0,len(av19)):
    if av19['PM2.5'][i] < 0.1 :
        av19['PM2.5'][i] = 0.1

In [34]:
for i in range(0,len(av19)):
    if av19['CO'][i] < 0.1 :
        av19['CO'][i] = 0.1

In [35]:
for i in range(0,len(av19)):
    if av19['NH3'][i] < 0.1 :
        av19['NH3'][i] = 0.1

In [36]:
for i in range(0,len(av19)):
    if av19['NO2'][i] < 0.1 :
        av19['NO2'][i] = 0.1

In [37]:
for i in range(0,len(av19)):
    if av19['SO2'][i] < 0.1 :
        av19['SO2'][i] = 0.1

In [78]:
df[df.index == '2018-11-08 00:00']

NameError: name 'df' is not defined

In [116]:
av16.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2016-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    8308 non-null float64
PM10     7024 non-null float64
CO       8097 non-null float64
NH3      7941 non-null float64
NO2      8024 non-null float64
SO2      8074 non-null float64
dtypes: float64(6)
memory usage: 799.1 KB

In [147]:
av16.to_csv('AV_2016_new.csv')

In [148]:
av17.to_csv('AV_2017_new.csv')

In [28]:
av18.to_csv('AV_2018_new.csv')

In [41]:
df.to_csv('Merged_Mice.csv')