In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Import a scoring metric to compare methods
from sklearn.metrics import r2_score
%matplotlib inline

In [56]:
df = pd.read_csv('AV_2016.csv')

In [2]:
#df = pd.read_excel('ihbas_2014.xlsx')

In [57]:
df.head()

       From Date   PM2.5    PM10    CO     NH3     NO2    SO2
0  1/1/2016 0:00  389.33  946.17  2.91  118.86  105.57  16.83
1  1/1/2016 1:00     376    1117  4.13  122.08   89.07  16.42
2  1/1/2016 2:00   480.5    1087   3.3  132.15   91.96  16.38
3  1/1/2016 3:00  486.67  918.17  1.93  142.15   79.14  12.93
4  1/1/2016 4:00  441.17     824  2.64  176.31   91.57  14.25

In [58]:
df['Date'] = pd.to_datetime(df['From Date'], format = '%d/%m/%Y %H:%M')

In [59]:
df.drop('From Date', axis=1, inplace= True)

In [8]:
#av2018.drop('Date', axis = 1, inplace = True)

In [60]:
df.set_index('Date', inplace=True)

In [10]:
#df.drop('Date', axis = 1, inplace = True)

In [61]:
df.head()

                      PM2.5    PM10    CO     NH3     NO2    SO2
Date
2016-01-01 00:00:00  389.33  946.17  2.91  118.86  105.57  16.83
2016-01-01 01:00:00     376    1117  4.13  122.08   89.07  16.42
2016-01-01 02:00:00   480.5    1087   3.3  132.15   91.96  16.38
2016-01-01 03:00:00  486.67  918.17  1.93  142.15   79.14  12.93
2016-01-01 04:00:00  441.17     824  2.64  176.31   91.57  14.25

In [33]:
#av2018.set_index(av2018['Date'], inplace = True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2016-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 6 columns):
PM2.5    7130 non-null float64
PM10     7024 non-null float64
CO       6916 non-null float64
NH3      6873 non-null float64
NO2      6886 non-null float64
SO2      6817 non-null float64
dtypes: float64(6)
memory usage: 799.1 KB

In [63]:
df.replace('None', np.nan, inplace=True)

In [64]:
df = df.astype(float)

In [65]:
for i in range(0,len(df)):
    if df['PM2.5'][i] < 0.1 :
        df['PM2.5'][i] = 0.1

In [68]:
for i in range(0,len(df)):
    if df['CO'][i] < 0.1 :
        df['CO'][i] = 0.1

In [71]:
for i in range(0,len(df)):
    if df['SO2'][i] < 0.1 :
        df['SO2'][i] = 0.1

In [38]:
#df['Date'] = pd.to_datetime(df['From Date'], format = '%d/%m/%Y %H:%M')

In [40]:
#df.drop('From Date', axis=1, inplace= True)

In [15]:
#df.set_index('Date', inplace = True)

In [72]:
df.head()

                      PM2.5     PM10    CO     NH3     NO2    SO2
Date
2016-01-01 00:00:00  389.33   946.17  2.91  118.86  105.57  16.83
2016-01-01 01:00:00  376.00  1117.00  4.13  122.08   89.07  16.42
2016-01-01 02:00:00  480.50  1087.00  3.30  132.15   91.96  16.38
2016-01-01 03:00:00  486.67   918.17  1.93  142.15   79.14  12.93
2016-01-01 04:00:00  441.17   824.00  2.64  176.31   91.57  14.25

In [73]:
test = df['PM2.5'][df.index > '2016-12-15 01:00']

In [74]:
test.head()

Date
2016-12-15 02:00:00    196.17
2016-12-15 03:00:00    197.00
2016-12-15 04:00:00    188.33
2016-12-15 05:00:00    150.83
2016-12-15 06:00:00    184.17
Name: PM2.5, dtype: float64

In [75]:
test.isnull().sum()

0

In [76]:
df['PM2.5'][df.index > '2016-12-15 01:00'] = np.nan

In [77]:
df.tail()

                     PM2.5    PM10    CO     NH3     NO2    SO2
Date
2016-12-31 19:00:00    NaN  436.17  4.19  116.53  116.05  24.55
2016-12-31 20:00:00    NaN  412.50  3.58   77.62   89.39  23.36
2016-12-31 21:00:00    NaN  360.33  3.42   74.07   88.17  23.35
2016-12-31 22:00:00    NaN  324.17  2.96   76.58   86.51  22.06
2016-12-31 23:00:00    NaN  254.50  2.70   75.73   81.53  21.79

In [78]:
df = df.assign(InterpolateLinear=df['PM2.5'].interpolate(method='linear'))

In [17]:
df_pol[df_pol.index > '2018-05-01 01:00']

NameError: name 'df_pol' is not defined

In [129]:
df = df.assign(InterpolateSpline=df['PM2.5'].interpolate(method='spline', order = 1))

In [20]:
#df_spline[df_spline.index > '2014-05-01 00:00']

In [80]:
df = df.assign(RollingMedian=df['PM2.5'].fillna(df['PM2.5'].rolling(24,min_periods=1,).median()))

In [81]:
df = df.assign(InterpolateTime=df['PM2.5'].interpolate(method='time'))

In [82]:
#df_time[df_time.index > '2014-05-01 01:00']

In [65]:
df_time.drop(columns= 'InterpolateSLinear2', inplace=True)

In [171]:
df_result = df[df.index > '2016-12-15 01:00']

In [68]:
df_result1 = df_result1[df_result1.index < '2016-07-08 12:00']

In [192]:
df_result.drop(columns=['Interpolate_KNN'], inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [188]:
col = ['InterpolateCubic', 'InterpolateAkima']

In [189]:
df_result.drop(columns= col, inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [179]:
df_result['Actual'] = test.values

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [193]:
df_result.tail(10)

,PM2.5,PM10,CO,NH3,NO2,SO2,InterpolateLinear,InterpolateTime,pm2.5_mice,InterpolateSpline,InterpolateSpline3,Interpolate_EM,Actual
Date,,,,,,,,,,,,,
2016-12-31 14:00:00,NaN,313.50,2.48,61.00,77.08,20.09,196.0,196.0,168.271860,-18642.966171,-8.520695e+07,70.234309,185.67
2016-12-31 15:00:00,NaN,221.00,2.50,67.24,79.26,19.80,196.0,196.0,181.153914,-18690.419539,-8.584475e+07,13.449117,111.17
2016-12-31 16:00:00,NaN,253.17,2.73,85.09,94.65,20.15,196.0,196.0,229.654795,-18737.872907,-8.648572e+07,103.885414,126.33
2016-12-31 17:00:00,NaN,306.17,3.07,108.95,104.55,20.10,196.0,196.0,286.031317,-18785.326275,-8.712988e+07,233.331425,152.33
2016-12-31 18:00:00,NaN,399.83,3.51,117.99,111.49,23.12,196.0,196.0,317.641567,-18832.779643,-8.777722e+07,46.581959,190.83
2016-12-31 19:00:00,NaN,436.17,4.19,116.53,116.05,24.55,196.0,196.0,333.402170,-18880.233012,-8.842776e+07,148.602392,274.17
2016-12-31 20:00:00,NaN,412.50,3.58,77.62,89.39,23.36,196.0,196.0,231.036495,-18927.686380,-8.908151e+07,321.302461,259.17
2016-12-31 21:00:00,NaN,360.33,3.42,74.07,88.17,23.35,196.0,196.0,220.616978,-18975.139748,-8.973847e+07,17.775675,213.67
2016-12-31 22:00:00,NaN,324.17,2.96,76.58,86.51,22.06,196.0,196.0,213.642078,-19022.593116,-9.039866e+07,63.391838,244.67
2016-12-31 23:00:00,NaN,254.50,2.70,75.73,81.53,21.79,196.0,196.0,202.594987,-19070.046484,-9.106207e+07,26.294102,179.50

In [136]:
df = df.assign(InterpolateQuadratic=df['PM2.5'].interpolate(method='quadratic'))

In [137]:
df = df.assign(InterpolateCubic=df['PM2.5'].interpolate(method='cubic'))

In [138]:
df = df.assign(InterpolateAkima=df['PM2.5'].interpolate(method='akima'))

In [139]:
df = df.assign(InterpolatePoly5=df['PM2.5'].interpolate(method='polynomial', order=5))

In [140]:
df = df.assign(InterpolateSpline3=df['PM2.5'].interpolate(method='spline', order=3))

In [194]:
results_PM = [(method, r2_score(test, df_result[method])) for method in list(df_result)[6::1]]
results_df = pd.DataFrame(np.array(results_PM), columns=['Method', 'R_squared'])
results_df.sort_values(by='R_squared', ascending=False)

               Method            R_squared
6              Actual                  1.0
2          pm2.5_mice   0.5463666947083892
3   InterpolateSpline   -5742.326514990267
4  InterpolateSpline3   -55102238069.55379
5      Interpolate_EM  -2.3223592891045177
0   InterpolateLinear  -0.3289396018361257
1     InterpolateTime  -0.3289396018361257

In [80]:
df_time.to_csv('interpolate1.csv')

## IMPYUTE

In [26]:
import impyute as impy

In [146]:
pm25 = df[['PM2.5']]

In [ ]:
pm = pm.astype(float)

In [84]:
pm = df[['NO2','CO','PM2.5','NH3', 'SO2']]

In [85]:
# reshape 1D array
from numpy import array
from numpy import reshape

In [147]:
# define array
data = array(pm25)
print(data.shape)

(8760, 1)

In [87]:
data

array([[105.57,   2.91, 389.33, 118.86,  16.83],
       [ 89.07,   4.13, 376.  , 122.08,  16.42],
       [ 91.96,   3.3 , 480.5 , 132.15,  16.38],
       ...,
       [ 88.17,   3.42,    nan,  74.07,  23.35],
       [ 86.51,   2.96,    nan,  76.58,  22.06],
       [ 81.53,   2.7 ,    nan,  75.73,  21.79]])

In [150]:
pm_EM = impy.imputation.cs.em(data)

In [151]:
pm_knn = impy.imputation.cs.fast_knn(data)

C:\Users\user\Anaconda3\lib\site-packages\impyute\imputation\cs\fast_knn.py:113: RuntimeWarning: invalid value encountered in true_divide
  weights = distances/np.sum(distances)

In [157]:
df['Interpolate_EM'] = ''

In [158]:
df['Interpolate_KNN'] = ''

In [159]:
df['Interpolate_EM'] = pm_EM

In [160]:
df['Interpolate_KNN'] = pm_knn

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2016-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 17 columns):
PM2.5                   6724 non-null float64
PM10                    7024 non-null float64
CO                      6916 non-null float64
NH3                     6873 non-null float64
NO2                     6886 non-null float64
SO2                     6817 non-null float64
InterpolateLinear       8760 non-null float64
InterpolateTime         8760 non-null float64
pm2.5_mice              8760 non-null float64
InterpolateSpline       8760 non-null float64
InterpolateQuadratic    8354 non-null float64
InterpolateCubic        8354 non-null float64
InterpolateAkima        8354 non-null float64
InterpolatePoly5        8354 non-null float64
InterpolateSpline3      8760 non-null float64
Interpolate_EM          8760 non-null float64
Interpolate_KNN         6726 non-null float64
dtypes: float64(17)
memory usage: 1.2 MB

In [89]:
pm = impy.imputation.cs.mice(data)

In [60]:
pm = impy.imputation.cs.(data)

In [75]:
df.head()

,NO2,CO,PM2.5,NH3,SO2,CO_test,PM2.5_test,pm2.5_op,"(no2_op, co_op, nh3_op, so2_op)"
Date,,,,,,,,,
2014-01-01 00:00:00,15.0,15.5,98.5,49.42,4.5,15.5,98.5,,
2014-01-01 01:00:00,31.0,34.0,131.5,46.75,10.0,34.0,131.5,,
2014-01-01 02:00:00,21.5,64.0,142.5,44.89,5.0,64.0,142.5,,
2014-01-01 03:00:00,21.5,65.0,161.0,44.70,5.0,65.0,161.0,,
2014-01-01 04:00:00,20.0,44.0,174.5,42.41,4.5,44.0,174.5,,

In [68]:
pm

array([[  15.  ,   15.5 ,   98.5 ,   49.42,    4.5 ],
       [  31.  ,   34.  ,  131.5 ,   46.75,   10.  ],
       [  21.5 ,   64.  ,  142.5 ,   44.89,    5.  ],
       ...,
       [  10.5 ,    4.5 ,  160.5 ,   50.24,   13.5 ],
       [  18.89, 1774.04,  270.92,   57.28,    3.44],
       [  19.  , 1332.35,  301.17,   56.63,    7.32]])

In [90]:
len(pm)

8760

In [92]:
df['no2_mice'] = ''

In [93]:
df['co_mice'] = ''

In [94]:
df['pm2.5_mice'] = ''

In [95]:
df['nh3_mice'] = ''

In [96]:
df['so2_mice'] = ''

In [98]:
df[['no2_mice', 'co_mice', 'pm2.5_mice','nh3_mice', 'so2_mice']] = pm

In [102]:
cols = ['no2_mice', 'co_mice','nh3_mice', 'so2_mice']

In [104]:
df.drop(columns= cols, inplace= True)

In [105]:
df.head()

,PM2.5,PM10,CO,NH3,NO2,SO2,InterpolateLinear,InterpolateSpline,RollingMedian,InterpolateTime,pm2.5_mice
Date,,,,,,,,,,,
2016-01-01 00:00:00,389.33,946.17,2.91,118.86,105.57,16.83,389.33,389.33,389.33,389.33,389.33
2016-01-01 01:00:00,376.00,1117.00,4.13,122.08,89.07,16.42,376.00,376.00,376.00,376.00,376.00
2016-01-01 02:00:00,480.50,1087.00,3.30,132.15,91.96,16.38,480.50,480.50,480.50,480.50,480.50
2016-01-01 03:00:00,486.67,918.17,1.93,142.15,79.14,12.93,486.67,486.67,486.67,486.67,486.67
2016-01-01 04:00:00,441.17,824.00,2.64,176.31,91.57,14.25,441.17,441.17,441.17,441.17,441.17

In [106]:
#df[df.index > '2014-10-01 00:00']

In [27]:
results_PM = [(r2_score(df['PM2.5_test'], df['pm2.5_op']))]
results_df = pd.DataFrame(np.array(results_PM), columns=['R_squared'])
results_df.sort_values(by='R_squared', ascending=False)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [28]:
temp = pd.DataFrame(data = df, columns=['PM2.5_test','pm2.5_op'])

In [31]:
temp2 = temp[temp.index > '2014-05-01 00:00:00']

In [33]:
temp2 = temp2[temp2.index < '2014-07-01 00:00:00']

In [34]:
temp2

                     PM2.5_test    pm2.5_op
Date
2014-05-01 01:00:00       173.0  188.046639
2014-05-01 02:00:00       220.5  201.877802
2014-05-01 03:00:00       250.0  207.211776
2014-05-01 04:00:00       213.5  210.902583
2014-05-01 05:00:00       179.5  205.159165
2014-05-01 06:00:00       175.5  207.359933
2014-05-01 07:00:00       177.5  201.120638
2014-05-01 08:00:00       227.0  204.438109
2014-05-01 09:00:00       223.0  202.257985
2014-05-01 10:00:00       200.0  197.940533
2014-05-01 11:00:00       181.0  193.371667
2014-05-01 12:00:00       168.0  192.428137
2014-05-01 13:00:00       223.0  203.027065
2014-05-01 14:00:00       192.0  189.979351
2014-05-01 15:00:00       169.0  172.041137
2014-05-01 16:00:00       215.0  168.441987
2014-05-01 17:00:00       184.0  163.874047
2014-05-01 18:00:00       234.5  157.923187
2014-05-01 19:00:00       200.5  155.970395
2014-05-01 20:00:00       249.5  153.632032
2014-05-01 21:00:00       219.0  154.263847
2014-05-01 22:00:00       238.0  158.539329
2014-05-01 23:00:00       196.0  163.847396
2014-05-02 00:00:00       172.0  174.995895
2014-05-02 01:00:00       163.5  177.279832
2014-05-02 02:00:00       170.0  191.398233
2014-05-02 03:00:00       182.5  199.909827
2014-05-02 04:00:00       219.0  190.681121
2014-05-02 05:00:00       250.0  184.097454
2014-05-02 06:00:00       225.0  225.000000
...                         ...         ...
2014-06-29 18:00:00       171.5  171.500000
2014-06-29 19:00:00       162.0  162.000000
2014-06-29 20:00:00       168.5  168.500000
2014-06-29 21:00:00       160.5  160.500000
2014-06-29 22:00:00       159.5  159.500000
2014-06-29 23:00:00       154.5  154.500000
2014-06-30 00:00:00       160.5  160.500000
2014-06-30 01:00:00       153.5  153.500000
2014-06-30 02:00:00       173.0  173.000000
2014-06-30 03:00:00       165.5  165.500000
2014-06-30 04:00:00       311.0  311.000000
2014-06-30 05:00:00       320.0  320.000000
2014-06-30 06:00:00       314.0  314.000000
2014-06-30 07:00:00       159.0  159.000000
2014-06-30 08:00:00       329.0  329.000000
2014-06-30 09:00:00       307.0  307.000000
2014-06-30 10:00:00         NaN  176.698098
2014-06-30 11:00:00         NaN  176.698098
2014-06-30 12:00:00         NaN  176.698098
2014-06-30 13:00:00       111.5  111.500000
2014-06-30 14:00:00         0.0    0.000000
2014-06-30 15:00:00         0.0    0.000000
2014-06-30 16:00:00         0.0    0.000000
2014-06-30 17:00:00         0.0    0.000000
2014-06-30 18:00:00         0.0    0.000000
2014-06-30 19:00:00       249.0  249.000000
2014-06-30 20:00:00       202.0  202.000000
2014-06-30 21:00:00       175.0  175.000000
2014-06-30 22:00:00       175.0  175.000000
2014-06-30 23:00:00       175.0  175.000000

[1463 rows x 2 columns]